POSTGRES_DB=etl_immobilier
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
GEO_API_COMMUNES_URL=https://geo.api.gouv.fr/communes
DATA_GOUV_API_URL=https://www.data.gouv.fr/api/1/datasets
GEO_DVF_BASE_URL=https://files.data.gouv.fr/geo-dvf/latest/csv
